a {
  color: #6a6a6a;
  text-decoration: none;
  background-color: transparent;
  font-weight: 300;
}
a:hover {
  color: #e14eca;
}

body {
  background: #eae4e4;
}

.footer {
  background: #eae4e4;
}
.language-title {
  color: #6a6a6a;
}

input::placeholder {
  color: #6a6a6a;
}
.input_user_setting {
  background: white;
  color: #6a6a6a;
  &:focus {
    background-color: white;
  }
}

.page-header-login {
  .page-header {
    display: flex;
    align-items: center;
    background-color: white;
  }
}

.background-login-image {
  background-image: url(../../../../assets/img/blach-white-Wallpaper-.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  z-index: 3;
}
.card-header-login {
  .card-login .card-header {
    display: flex;
    flex-direction: column-reverse;
  }
}

.title-logo-login {
  display: flex;
  flex-direction: row;
}

.place-holder-input::placeholder {
  color: black;
}
