a {
  color: #6a6a6a;
  text-decoration: none;
  background-color: transparent;
  font-weight: 300;
}
a:hover {
  color: #e14eca;
}

body {
  background: #eae4e4;
}

.footer {
  background: #eae4e4;
}
.language-title {
  color: #6a6a6a;
}

input::placeholder {
  color: #6a6a6a;
}
.input_user_setting {
  background: white;
  color: #6a6a6a;
  &:focus {
    background-color: white;
  }
}
