.nav {
  &.nav-tabs-neutral {
    > .nav-item {
      > .nav-link {
        color: $white;

        &.active {
          border-color: $opacity-5;
          color: $white;
        }
      }
    }
  }

  &.nav-tabs-primary {
    > .nav-item {
      > .nav-link {
        border-color: purple;
        color: purple;
      }
    }
  }

  &.nav-tabs-info {
    > .nav-item {
      > .nav-link {
        &.active {
          border-color: purple;
          color: #6a6a6a;
        }
      }
    }
  }

  &.nav-tabs-danger {
    > .nav-item {
      > .nav-link {
        &.active {
          border-color: $danger;
          color: $danger;
        }
      }
    }
  }

  &.nav-tabs-warning {
    > .nav-item {
      > .nav-link {
        &.active {
          border-color: $warning;
          color: $warning;
        }
      }
    }
  }

  &.nav-tabs-success {
    > .nav-item {
      > .nav-link {
        &.active {
          border-color: purple;
          color: purple;
        }
      }
    }
  }
}
